<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bug Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--

        Use Case
        --------------

        1. Add a bug -done
        2. list all the bugs - done
        3. toggle the completion status of the bug - done
        4. Remove closed bugs. - done
        5. Display statistics. - done.
        6. Search for bugs -- done.
        7. Sort the bugs
        8. improvies how the bugs are displayed
        9. persist the bugs in the storage
        10. display the createdDT of the bugs
        11 persis the bugs in the server
        12 categorize the bugs
        13 view the bugs belong to one particular category
        -->

    <script>

        var bugTrackerApp = angular.module("bugTrackerApp", []);
        bugTrackerApp.run(function ($rootScope) {
            window.rootScope = $rootScope;
            console.log($rootScope);
            console.log('application got initiated');
        });
        bugTrackerApp.controller("bugController",
            function ($scope) {
                console.log("controller scope0 " + $scope);

                var bugs = [
                    { id: 1, desc: 'FUNCTIOn is not defined', isClosed: false },
                    { id: 2, desc: 'STACK Over flow exception', isClosed: false },
                    { id: 3, desc: 'ARTHEMTic exception', isClosed: false },
                    { id: 4, desc: 'OBJECT reference not set to instance of an object', isClosed: false },
                { id: 5, desc: 'runtime server error occured ', isClosed: false }

                ];
                this.bugs = bugs;
                this.desc = "";

                this.add = function () {
                    this.bugs.push({ id: this.bugs.length + 1, desc: this.desc, isClosed: false });
                }
                this.toggle = function (bug) {
                    bug.isClosed = !bug.isClosed;
                };
                this.removeClosedBugs = function () {
                    for (var i = this.bugs.length - 1; i >= 0; i--) {
                        if (this.bugs[i].isClosed) {
                            this.bugs.splice(i, 1);
                        }
                    }
                }

                this.getClosedBugs = function () {
                    return this.bugs.reduce(function (total, bug) {
                        return bug.isClosed ? ++total : total;
                    }, 0);

                }

            });

    </script>
    <style>
        .closed {
            color: red;
            font-weight: bold;
            font-style: italic;
            text-decoration: line-through;
        }
    </style>
</head>


<body ng-app="bugTrackerApp" ng-controller="bugController as bc">
    <h2> Bug Tracker </h2>
    Search : <input type="text" name="txtSearch" ng-model="bc.search" value=" " /> <br />
    Big Title:   <input type="text" name="txtBug" ng-model="bc.desc" value=" " /> <input type="button" ng-click="bc.add()" value="AddBug" id="btnAddBug" /><input type="button" ng-click="bc.removeClosedBugs()" value="Remove Closed" id="btnRemoveBug" />
    <div class="statistics">{{bc.getClosedBugs()}}/ {{bc.bugs.length}}   </div>
    <div class="bugs">
        <ul>
            <li ng-repeat="bug in bc.bugs | filter:bc.search"
                ng-class="{closed : bug.isClosed}"
                ng-click="bc.toggle(bug)">{{bug.desc  }}</li>
        </ul>
    </div>


</body>
</html>
