<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bug Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="moment.js"></script>
    <script src="utils.js"></script>
    <!--

    Use Case
    --------------

    1. Add a bug -done
    2. list all the bugs - done
    3. toggle the completion status of the bug - done
    4. Remove closed bugs. - done
    5. Display statistics. - done.
    6. Search for bugs -- done.
    7. Sort the bugs -- done
    8. improvies how the bugs are displayed --done
    9. persist the bugs in the storage -- done
    window.localStorage
        - key/value store
        - both key and value should be strings
        - apis
        . setItem(key,value)
        . getItem(key) //= > value
        . removeItem(key)
        . key(index)
        . clear()
        . length
        10. display the createdDT of the bugs -- done
        11 persis the bugs in the server
        12 categorize the bugs
        13 view the bugs belong to one particular category
        -->

    <script>


        var bugTrackerApp = angular.module("bugTrackerApp", ["utils"]);

        bugTrackerApp.run(function ($rootScope) {
        });

        bugTrackerApp.value('defaultTrimLength', 20);
        /*
        bugTrackerApp.factory("BugStorage", function (Bug,$window) {

            var bugStorage = $window.localStorage;
            var maxBugId = 0;
            var save = function (bug) {
                bug.id = bug.id || ++maxBugId;
                bugStorage.setItem(bug.id, angular.toJson(bug));
                return bug;
            };
            var getAll = function () {
                var bugs = [];
                for (var i = 0; i < bugStorage.length; i++) {
                    maxBugId = parseInt(bugStorage.key(i)) > maxBugId ? parseInt(bugStorage.key(i)) : maxBugId;
                    var bugData = bugStorage.getItem(bugStorage.key(i));
                    var bug = angular.fromJson(bugData);
                    bugs.push(new Bug(bug));
                }
                return bugs;

            }
            var remove = function (bug) {
                bugStorage.removeItem(bug.id);
            }

            return {
                getAll: getAll,
                save: save,
                remove: remove
            }

        });
        */
        bugTrackerApp.factory("Bug", function () {
            function Bug(defaults) {
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.name = defaults.name || "";
                this.isClosed = defaults.isClosed || false;
                this.createdAt = defaults.createdAt || new Date();
            }

            Bug.prototype.toggle = function () {
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });

        bugTrackerApp.factory('BugService', function ($http, Bug, $q) {

            function save(bug) {
                var defered = $q.defer();
                $http.post('/bugs', bug).then(function (response) {
                    var result = response.data;
                    defered.resolve(result);
                });
                return defered.promise;
            }
            function getAll() {
                return $http.get('/bugs');
            };
            function update(bug) {
                var defered = $q.defer();
                $http.put('/bugs/' + bug.id, bug).then(function (response) {
                    var result = response.data;
                    defered.resolve(result);
                });
                return defered.promise;
            }

            function remove(bug) {
                var defered = $q.defer();
                $http.delete('/bugs/' + bug.id).then(function (response) {
                    var result = response.data;
                    defered.resolve(result);
                });
                return defered.promise;
            }
            return {
                getAll: getAll,
                save: save,
                update: update,
                remove: remove
            };

        })



        bugTrackerApp.controller("bugController", function (Bug, BugService) {
            var _self = this;
            this.bugs = [];
            BugService.getAll().then(function (response) {
                var result = response.data.map(function (bug) {
                    return new Bug(bug);
                });
                _self.bugs = result;
            });

            this.name = "";
            this.add = function () {
                BugService.save(new Bug({ name: this.name })).then(function (response) {
                    _self.bugs.push(new Bug(response));
                })
            }
            this.toggle = function (bug) {
                bug.toggle();
                BugService.update(bug);
            };
            this.removeClosedBugs = function () {
                for (var i = this.bugs.length - 1; i >= 0; i--) {
                    if (this.bugs[i].isClosed) {
                        BugService.remove(this.bugs[i]);
                        this.bugs.splice(i, 1);
                    }
                }
            }

        });


    </script>
    <style>
        .closed {
            color: red;
            font-weight: bold;
            font-style: italic;
            text-decoration: line-through;
        }

        .statistics, .search, .orderBy, .bugs {
            padding: 10px 0px;
        }

        .timeSpan {
            font-style: italic;
        }
    </style>
</head>


<body ng-app="bugTrackerApp" ng-controller="bugController as bc">
    <h2> Bug Tracker </h2>
    <div class="statistics">{{ bc.bugs | closedCount  }}/ {{bc.bugs.length}}   </div>

    <div class="search">
        Search : <input type="text" name="txtSearch" ng-model="filterBugs.name" value=" " /> <label>isClosed ? </label> <input type="checkbox" name="" ng-model="filterBugs.isClosed" id="" /> <input id="" type="button" value="Show All" ng-click="filterBugs.isClosed=undefined" />
    </div>

    <div class="orderBy">
        Order By : <input type="text" name="txtOrder" ng-model="orderBy" /> <label>isDecending</label> <input type="checkbox" name="" ng-model="isDescending" />
    </div>
    <div class="bugs">
        Bug Title:   <input type="text" name="txtBug" ng-model="bc.name" value=" " /> <input type="button" ng-click="bc.add()" value="AddBug" id="btnAddBug" /><input type="button" ng-click="bc.removeClosedBugs()" value="Remove Closed" id="btnRemoveBug" />
    </div>
    <div class="bugs">
        <ol>
            <li ng-repeat="bug in bc.bugs | filter:filterBugs | orderBy : orderBy : isDescending"
                ng-class="{closed : bug.isClosed}"
                ng-click="bc.toggle(bug)">{{bug.name | trimText :30 }} -<span class="timeSpan">{{ bug.createdAt | toMoment}} </span></li>
        </ol>
    </div>


</body>
</html>
